{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [cljs-http "0.1.39"]
                [reagent "1.1.0"]
                [testdouble.cljs.csv "0.4.3"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [clojure-react-front.core]}}
                      :devtools   {:after-load clojure-react-front.core/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
